doctype html
html
    head
        title Todo Task List
        link(rel="stylesheet", href="")
        link(rel="stylesheet", href="")
    body
        .container
            block content
    script(src="")
    script(src="")