* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: OpenSans-Regular, sans-serif;
}

.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
.container-cv {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #e9faff;
  }
  
.wrap-cv {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  }