doctype html
html
    head
        title Todo Task List
        link(rel="stylesheet", href="/stylesheets/css/bootstrap.min.css")
    body
        .container
            block content
    script(src="/javascripts/main.js")